@import "variables";

.header {
  background-color: #ba2d65;
  font-family: "Amatic SC";
  font-size: 60px;
  font-weight: bolder;
}

.match {
  font-family: "Amatic SC";
  font-size: 60px;
  font-weight: bolder;
  margin-top: 40px;
}

.table-game {
  padding: 50px 0;
  margin-top: 350px;
}

.abb{
    margin-top: 400px;
}
.btn {
  background-color: #ba2d65;
  font-family: "Amatic SC";
  font-size: 55px;
}

a{
    color:black;
}

.player2{
    margin-top: -110px;
}

.game{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 600px;
	margin-left: -300px;
	margin-top: -370px;
}

.board{
    width: 100%;
    height:100%;
}

.square{
    border: 1px solid black;
    float: left;
    width: 33.33%;
    height: 33.33%;
    cursor:pointer;
}

.square .left{
    clear: both;
    border-right-style: solid;
}

.square .right{
    border-left-style: solid;
}

.square .top{
    border-bottom-style:solid;
}

.square .bottom{
    border-top-style: solid;
}

.selected {
  background-color: rgba(98, 114, 123, 0.5);
}





@media all and (max-width:630px), all and (max-height:800px){
    .game{
        width:450px;
        height:450px;
        margin-left:-225px;
        margin-top:-200px;
    }
     
}

@media all and (max-height:480px){
    .game{
        top:40px;
        margin-top: 10px;
    }
   
}

@media all and (max-width:540px), all and (max-height:560px){
    .game{
        width:300px;
        height: 300px;
        margin-left: -150px;
        margin-top: -225px;
        
    }
    .square{
        border-width: 1px;
    }
}

@media screen and (min-width: 992px){
  .header, .btn, .match {
    font-size: 30px;
  }

  .table-game {
    padding: 0;
  }
  
   
}
